<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f99ea">  <td>19/02/17 09:30:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:bl.framework.testcases.TC003_EditLead@64bfbc86]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@503195940</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>19/02/17 09:31:04</td>   <td>14949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_EditLead.editLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC003_EditLead@64bfbc86]">editLead</td> 
  <td>main@503195940</td>   <td></td> </tr>
<tr bgcolor="9f99ea">  <td>19/02/17 09:31:10</td>   <td>21190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:bl.framework.testcases.TC003_EditLead@64bfbc86]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@503195940</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>19/02/17 09:31:25</td>   <td>36209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_EditLead.editLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC003_EditLead@64bfbc86]">editLead</td> 
  <td>main@503195940</td>   <td></td> </tr>
</table>
